
<div>
{{name}}

</div>

<button (click) ="clicked()">click me</button>

<!-- <ul *ngIf = "users">
<li *ngFor = "let user of users"> 
    <p (click) ="selectedUsers(user)">{{user.recipe_id}} {{user.recipe_name}}</p>
</li>
</ul> -->


<h3>Drop Down</h3>
    <select [(ngModel)]="selectedRecipeModel" >
      <option *ngFor="let recipe of recipes" [ngValue]="recipe.recipe_name">{{recipe.recipe_id}}{{recipe.recipe_name}}</option>
    </select>
    <br>

    {{selectedRecipeModel}}


<br>
<br>

<ul *ngIf = "selectedRecipe">
<li > 
    <input [(ngModel)] = "selectedRecipe.recipe_name">
</li>


<li > 
    <p>{{selectedRecipe.recipe_name}}</p>
</li>

</ul>

<ul >
  <li *ngFor="let ingredient of ingredients">
    <p >{{ingredient.product}}{{ingredient.price}} </p>
  </li>
</ul>