
<div>
{{name}}

</div>



<!-- <ul *ngIf = "users">
<li *ngFor = "let user of users"> 
    <p (click) ="selectedUsers(user)">{{user.recipe_id}} {{user.recipe_name}}</p>
</li>
</ul> -->


<h3>Drop Down</h3>
    <select [(ngModel)]="selectedRecipeModel" >
      <option *ngFor="let recipe of recipes" [ngValue]="recipe.recipe_id">{{recipe.recipe_id}}{{recipe.recipe_name}}</option>
    </select>
    <br>

    {{selectedRecipeModel}}


<br>
<br>


<input [(ngModel)]="selectedRecipeModel" placeholder="search text goes here">
<ul *ngIf = 'selectedRecipeModel'>
  <li *ngFor="let ingredient of ingredients  | filter : selectedRecipeModel">
    <p >{{ingredient.product}}{{ingredient.price}} </p>
	<p>{{ingredient.recipe_id}}</p>
  </li>
</ul>