
<div>
{{name}}

</div>


<h3>Select a recipe</h3>
    <select [(ngModel)]="selectedRecipeModel" >
      <option>select</option>
      <option *ngFor="let recipe of recipes" [ngValue]="recipe.recipe_id">{{recipe.recipe_name}}</option>
    </select>
    <br>

   


<br>
<br>

<h3>input ingredient description</h3>
<input [(ngModel)]="ingredientDescription" placeholder="it has to be in greek">


<div *ngIf = 'selectedRecipeModel'>

<table>
  <tr>
<th>  Description</th>
<th>Price</th>
<th> id</th> 
</tr>
  
  <tr *ngFor="let ingredient of ingredients  | filter :{recipe_id:selectedRecipeModel} ">



   
 <td>{{ingredient.product}}</td>
    <td >{{ingredient.price}} </td>
	<td>{{ingredient.recipe_id}}</td>
  
 
</tr>
</table>
</div>

<div *ngIf = 'ingredientDescription'>

<table>
  <tr>
<th>  Description</th>
<th>Price</th>
<th> id</th> 
</tr>
  
  <tr *ngFor="let ingredient of ingredients  | filter :{ingredient:ingredientDescription} ">



   
 <td>{{ingredient.product}}</td>
    <td >{{ingredient.price}} </td>
	<td>{{ingredient.recipe_id}}</td>
  
 
</tr>
</table>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <label formArrayName="ingredients" *ngFor="let ingredient of form.controls.ingredients.controls; let i = index">
    <input type="checkbox" [formControlName]="i">
  {{ingredients[i].ingredient}}
    {{ingredients[i].price}}
  </label>

  
  <br>
  <button [disabled]="!form.valid">submit</button>
</form>

total price {{ingredient_sum}}